/*
*
*   Global CSS
*
*/
body {
    font-family: 'Open-sans', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
form {
    margin: 0;
}  
/*
*
*   Modal
*
*/   
#buyModal {
    text-align: center;

    @media(max-width: 695px) {
        background: #FFF;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        max-width: 720px;
        margin-top: 35px;
        margin-bottom: 0px;
        @media(max-width: 800px) {
            max-width: 700px;
        }
        @media(max-width: 695px) {
            background: #FFF;
            max-width: 100%;
            height: 100%;
            margin: 0;

            .modal-content { 
                box-shadow: 0px 0px transparent !important;
            }
            .modal-header {
                padding: 20px 15px !important;
            }
            .modal-body {
                padding: 15px 17px !important;
            }
            h4#buyModalLabel {
                font-size: 1.4em !important;
            }
            .close-modal {
                box-shadow: 0px 0px transparent !important;
                background: transparent !important;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                svg {
                    fill: #bdbdbd;
                }
            }
            .btn-modal-confirm {
                white-space: pre-line;
                word-break: break-word;
                font-size: 1.5em;
            }
        }
        @media(max-width: 370px) {  
            h4#buyModalLabel {
                font-size: 1.2em !important;
            } 
            .btn-modal-confirm {
                padding: 15px;                
                font-size: 1.35em;
            }
        }
    }
    .modal-content {
        border: 0;
        border-radius: 2px;
        box-shadow: 0 16px 28px 0 rgba(0,0,0,0.15),0 25px 55px 0 rgba(0,0,0,0.10);

        .modal-header {
            padding: 30px 40px;
        }
        .modal-body {
            padding: 25px 40px;
        }
        .form-group {
            margin-bottom: 1.2em;
            .form-control {
                padding-right: 35px;
            }
            .fv-control-feedback {
                top: 25px;
            }
        }
        .has-warning #email ~ [data-fv-validator="emailAddress"] {  
            display: none !important;
        } 
    } 
    label { 
        font-weight: 700;
        margin-bottom: 2px;
    }
    h4#buyModalLabel {
        font-family: 'Lato', sans-serif;
        font-size: 1.75em;
        text-align: center;
        strong {
            font-weight: 900;
        }
    }
    .text-muted {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    
    // iphone 6 landscape
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) { 
        .modal-header {
            padding: 10px 15px !important;
        }
        label { 
            margin-top: 5px;
            float: left;
        }
        .form-control {
            padding-right: 35px;
            float: right;
            width: 480px;
        }
        .validMessage, .form-control-feedback {
            margin-left: 100px;
            float: right;
        }
        .form-group .fv-control-feedback {
            top: 0px !important;
        }
    } 
    // Iphone 5 Landscape
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) { 
        .form-control { 
            width: 400px;
        }
    }
    // Iphone 4 Landscape
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) { 
        .modal-dialog h4#buyModalLabel {
            font-size: 1.2em !important;
        }
        .modal-header {
            padding: 10px 15px !important;
        }
        label { 
            margin-top: 5px;
            float: left;
        }
        .form-control {
            padding-right: 35px;
            float: right;
            width: 315px;
        } 
        .validMessage, .form-control-feedback {
            margin-left: 100px;
            float: right;
        }
        .form-group .fv-control-feedback {
            top: 0px !important;
        }
    }
 

}
.close-modal { 
    background-color: #FFF !important;
    position: absolute;
    border-radius: 100%; 
    top: -20px;
    right: -20px;
    padding: 5px !important;
    width: 40px;
    height: 40px;  
    box-shadow: 0px 2px 5px rgba(0,0,0, .10), 0px 2px 3px rgba(0,0,0, .15); 
    opacity: 1 !important;
    transition: all .15s ease;
    line-height: 0;

    &:hover {
        opacity: 1;
        box-shadow: 0px 2px 15px rgba(0,0,0, .10), 0px 2px 10px rgba(0,0,0, .15);  
        svg {
            fill: #F44336;
        }
    } 
    &:focus, &:active {
        outline: none!important;
    }
    svg{ 
        fill: #919191; 
    } 

}

// button
.btn-modal-confirm { 
    font-family: 'Lato', sans-serif;
    background: #F44336;
    box-shadow: inset 0px 32px 59px -18px rgba(255,255,255,0.59),inset 1px 1px 4px rgba(255, 255, 255, 0.54);
    padding: 20px 30px;
    border-color: #F44336;
    font-size: 1.7em; 
    transition: all .15s ease;
    &:hover, &:focus, &:active {
        background: #E53935; 
        border-color: #E53935;
        box-shadow: inset 0px 32px 59px -18px rgba(255, 255, 255, 0.59), inset 1px 1px 4px rgba(255, 255, 255, 0.55);
        outline: none !important;
    } 
    &:active:hover, &:active:focus {
        color: #FFEBEE;
        background-color: #E53935;
        border-color: #E53935;
        box-shadow: inset 0px 20px 65px -23px rgba(0, 0, 0, 0.64), inset 1px 1px 4px rgba(232, 55, 55, 0.52);
        outline: none !important;
    }
} 